.mybtn{
    background-color: grey;
    border: none;
    padding: 2px 10px;
    color: black;
    border-radius: 5px;
}

.loginBtn{
    background-color: rgb(39, 180, 223);
    border: none;
    padding: 2px 10px;
    color: black;
    border-radius: 5px;
}